@use "mixins" as mixins;
@use "variables" as *;

/* Embedded app styles */
.app {
  @include mixins.fillContainer;
  @include mixins.flex;
  background-color: $background;
  color: $text;
  font-size: $font-size-m;
  font-family: $font-family;

  * {
    box-sizing: border-box;
    margin: 0;
  }
}
