@mixin fullScreen {
  min-width: 100dvw;
  width: 100dvw;
  max-width: 100dvw;
  min-height: 100dvh;
  height: 100dvh;
  max-height: 100dvh;
  padding: 0;
  margin: 0;
}

@mixin fillContainer {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}

@mixin flex($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
