// TYPOGRAPHY
$font-family: "Roboto", serif;
$font-size-s: 12px;
$font-size-m: 16px;
$font-size-l: 24px;

// SPACING
$pad-s: 0.5rem;
$pad-m: 1rem;
$pad-l: 2rem;

// BORDER
$border-radius-s: 0.3rem;
$border-radius-m: 0.5rem;
$border-radius-l: 1rem;
$border-width-s: 1px;
$border-width-m: 2px;
$border-width-l: 3px;

// COLORS
$background: #100710;
$text: #ffffff;
$primary: #00c2b3;
$highlight: #ff00ff;
$danger: #c47ae6;

$error: #ff0000;
$warning: #ffff00;
$success: #00ff00;

// SHADES AND TINTS
// For dark mode (-1 is Shade, +1 is Tint)
// For light mode, invert the values (e.g., -1 becomes +1 and vice versa)
$primary-1: #008b7e;
$primary-2: #39fcea;
$background-1: #140914;
$background-2: #2d132d;
$text-1: #f2f2f2;
$text-2: #e6e6e6;
$highlight-1: #ff66ff;
$highlight-2: #ff99ff;
$danger-1: #8d0074;
$danger-2: #ffe5ff;
$error-1: #ff4d4d;
$error-2: #ff8080;
$warning-1: #ffff66;
$warning-2: #ffff99;
$success-1: #4dff4d;
$success-2: #80ff80;

// Map of all colors for easy access
$colors: (
  background: $background,
  text: $text,
  primary: $primary,
  highlight: $highlight,
  danger: $danger,
  success: $success,
  warning: $warning,
  error: $error,
  // Shades and tints
  background-1: $background-1,
  background-2: $background-2,
  text-1: $text-1,
  text-2: $text-2,
  primary-1: $primary-1,
  primary-2: $primary-2,
  highlight-1: $highlight-1,
  highlight-2: $highlight-2,
  danger-1: $danger-1,
  danger-2: $danger-2,
  error-1: $error-1,
  error-2: $error-2,
  warning-1: $warning-1,
  warning-2: $warning-2,
  success-1: $success-1,
  success-2: $success-2,
);
