/* Layout partial */
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Colors partial */
/* Elements partial */
.action {
  background-color: #00c2b3;
  color: #ffffff;
  font-family: "Roboto", serif;
  font-size: 24px;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}

.action.danger {
  background-color: #c47ae6;
}

.action {
  background-color: rgba(0, 139, 126, 0.1);
  text-shadow: 0 0 0.2em #00c2b3;
  box-shadow: inset 0 0 0.1em 0.025em #00c2b3;
  color: #00c2b3;
  font-weight: 100;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.action.danger {
  background-color: rgba(141, 0, 116, 0.1);
  text-shadow: 0 0 0.2em #c47ae6;
  box-shadow: inset 0 0 0.2em 0.05em #c47ae6;
  color: #c47ae6;
}

.action:hover {
  box-shadow: inset 0 0 0.2em 0.05em #00c2b3;
}

.action:focus,
.action:active {
  box-shadow: inset 0 0 0.3em 0.075em #00c2b3;
}

.action.danger:hover {
  box-shadow: inset 0 0 0.2em 0.05em #c47ae6;
}

.action.danger:focus,
.action.danger:active {
  box-shadow: inset 0 0 0.3em 0.075em #c47ae6;
}

.card {
  border-radius: 0.5rem;
  padding: 2rem;
  border-width: 2px;
  border-style: solid;
  overflow: hidden;
  background-color: #140914;
}

@keyframes border-gradient {
  0% {
    border-image-source: linear-gradient(to left, var(--card-color), var(--card-alt));
  }
  50% {
    border-image-source: linear-gradient(to left, var(--card-alt), var(--card-color));
  }
  100% {
    border-image-source: linear-gradient(to left, var(--card-color), var(--card-alt));
  }
}
.card.background {
  --card-color: #100710;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #100710, #008b7e);
}

.card.background.active {
  animation: border-gradient 5s linear infinite;
}

.card.text {
  --card-color: #ffffff;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ffffff, #008b7e);
}

.card.text.active {
  animation: border-gradient 5s linear infinite;
}

.card.primary {
  --card-color: #00c2b3;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #00c2b3, #008b7e);
}

.card.primary.active {
  animation: border-gradient 5s linear infinite;
}

.card.highlight {
  --card-color: #ff00ff;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ff00ff, #008b7e);
}

.card.highlight.active {
  animation: border-gradient 5s linear infinite;
}

.card.danger {
  --card-color: #c47ae6;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #c47ae6, #008b7e);
}

.card.danger.active {
  animation: border-gradient 5s linear infinite;
}

.card.success {
  --card-color: #00ff00;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #00ff00, #008b7e);
}

.card.success.active {
  animation: border-gradient 5s linear infinite;
}

.card.warning {
  --card-color: #ffff00;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ffff00, #008b7e);
}

.card.warning.active {
  animation: border-gradient 5s linear infinite;
}

.card.error {
  --card-color: #ff0000;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ff0000, #008b7e);
}

.card.error.active {
  animation: border-gradient 5s linear infinite;
}

.card.background-1 {
  --card-color: #140914;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #140914, #008b7e);
}

.card.background-1.active {
  animation: border-gradient 5s linear infinite;
}

.card.background-2 {
  --card-color: #2d132d;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #2d132d, #008b7e);
}

.card.background-2.active {
  animation: border-gradient 5s linear infinite;
}

.card.text-1 {
  --card-color: #f2f2f2;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #f2f2f2, #008b7e);
}

.card.text-1.active {
  animation: border-gradient 5s linear infinite;
}

.card.text-2 {
  --card-color: #e6e6e6;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #e6e6e6, #008b7e);
}

.card.text-2.active {
  animation: border-gradient 5s linear infinite;
}

.card.primary-1 {
  --card-color: #008b7e;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #008b7e, #008b7e);
}

.card.primary-1.active {
  animation: border-gradient 5s linear infinite;
}

.card.primary-2 {
  --card-color: #39fcea;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #39fcea, #008b7e);
}

.card.primary-2.active {
  animation: border-gradient 5s linear infinite;
}

.card.highlight-1 {
  --card-color: #ff66ff;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ff66ff, #008b7e);
}

.card.highlight-1.active {
  animation: border-gradient 5s linear infinite;
}

.card.highlight-2 {
  --card-color: #ff99ff;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ff99ff, #008b7e);
}

.card.highlight-2.active {
  animation: border-gradient 5s linear infinite;
}

.card.danger-1 {
  --card-color: #8d0074;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #8d0074, #008b7e);
}

.card.danger-1.active {
  animation: border-gradient 5s linear infinite;
}

.card.danger-2 {
  --card-color: #ffe5ff;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ffe5ff, #008b7e);
}

.card.danger-2.active {
  animation: border-gradient 5s linear infinite;
}

.card.error-1 {
  --card-color: #ff4d4d;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ff4d4d, #008b7e);
}

.card.error-1.active {
  animation: border-gradient 5s linear infinite;
}

.card.error-2 {
  --card-color: #ff8080;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ff8080, #008b7e);
}

.card.error-2.active {
  animation: border-gradient 5s linear infinite;
}

.card.warning-1 {
  --card-color: #ffff66;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ffff66, #008b7e);
}

.card.warning-1.active {
  animation: border-gradient 5s linear infinite;
}

.card.warning-2 {
  --card-color: #ffff99;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ffff99, #008b7e);
}

.card.warning-2.active {
  animation: border-gradient 5s linear infinite;
}

.card.success-1 {
  --card-color: #4dff4d;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #4dff4d, #008b7e);
}

.card.success-1.active {
  animation: border-gradient 5s linear infinite;
}

.card.success-2 {
  --card-color: #80ff80;
  --card-alt: #008b7e;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #80ff80, #008b7e);
}

.card.success-2.active {
  animation: border-gradient 5s linear infinite;
}

/* Utilities partial */
.pad-s {
  padding: 0.5rem;
}

.pad-m {
  padding: 1rem;
}

.pad-l {
  padding: 2rem;
}

.gap-s {
  gap: 0.5rem;
}

.gap-m {
  gap: 1rem;
}

.gap-l {
  gap: 2rem;
}

/* Global styles */
html {
  min-width: 100dvw;
  width: 100dvw;
  max-width: 100dvw;
  min-height: 100dvh;
  height: 100dvh;
  max-height: 100dvh;
  padding: 0;
  margin: 0;
  background-color: red !important;
}

body {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  background-color: white !important;
}

/* Embedded app styles */
.app {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #100710;
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto", serif;
}
.app * {
  box-sizing: border-box;
  margin: 0;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 200;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}