/* Colors partial */
.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 200;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
/* Layout partial */
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Utilities partial */
.pad-s {
  padding: 0.5rem;
}

.pad-m {
  padding: 1rem;
}

.pad-l {
  padding: 2rem;
}

.gap-s {
  gap: 0.5rem;
}

.gap-m {
  gap: 1rem;
}

.gap-l {
  gap: 2rem;
}

/* Global styles */
html {
  min-width: 100dvw;
  width: 100dvw;
  max-width: 100dvw;
  min-height: 100dvh;
  height: 100dvh;
  max-height: 100dvh;
  padding: 0;
  margin: 0;
  background-color: red !important;
}

body {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  background-color: white !important;
}

/* Embedded app styles */
.app {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  color: #333333;
  font-size: 16px;
  font-family: "Roboto";
}
.app * {
  box-sizing: border-box;
  margin: 0;
}

/* Elements partial */
.action {
  background-color: #3498db;
  color: #333333;
  font-family: "Roboto";
  font-size: 24px;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}

.action.danger {
  background-color: #e74c3c;
}

.action {
  transition: background-color 0.3s ease;
}

.action:hover {
  background-color: rgb(36.7380753138, 138.7882845188, 207.1619246862);
}

.action:focus,
.action:active {
  background-color: rgb(32.6560669456, 123.3673640167, 184.1439330544);
}

.action.danger:hover {
  background-color: rgb(227.8109589041, 52.2150684932, 34.0890410959);
}

.action.danger:focus,
.action.danger:active {
  background-color: rgb(207.2876712329, 42.5205479452, 25.5123287671);
}

.card {
  border-radius: 0.5rem;
  padding: 2rem;
  border-width: 2px;
  border-style: solid;
  overflow: hidden;
  background-color: #ecf0f1;
}

.card.background {
  --card-color: #f0f0f0;
  --card-alt: #2980b9;
}

.card.text {
  --card-color: #333333;
  --card-alt: #2980b9;
}

.card.primary {
  --card-color: #3498db;
  --card-alt: #2980b9;
}

.card.highlight {
  --card-color: #e74c3c;
  --card-alt: #2980b9;
}

.card.danger {
  --card-color: #e74c3c;
  --card-alt: #2980b9;
}

.card.success {
  --card-color: #2ecc71;
  --card-alt: #2980b9;
}

.card.warning {
  --card-color: #f39c12;
  --card-alt: #2980b9;
}

.card.error {
  --card-color: #e74c3c;
  --card-alt: #2980b9;
}

.card.background-1 {
  --card-color: #ecf0f1;
  --card-alt: #2980b9;
}

.card.background-2 {
  --card-color: #bdc3c7;
  --card-alt: #2980b9;
}

.card.text-1 {
  --card-color: #2c3e50;
  --card-alt: #2980b9;
}

.card.text-2 {
  --card-color: #34495e;
  --card-alt: #2980b9;
}

.card.primary-1 {
  --card-color: #2980b9;
  --card-alt: #2980b9;
}

.card.primary-2 {
  --card-color: #5dade2;
  --card-alt: #2980b9;
}

.card.highlight-1 {
  --card-color: #c0392b;
  --card-alt: #2980b9;
}

.card.highlight-2 {
  --card-color: #e74c3c;
  --card-alt: #2980b9;
}

.card.danger-1 {
  --card-color: #c0392b;
  --card-alt: #2980b9;
}

.card.danger-2 {
  --card-color: #e74c3c;
  --card-alt: #2980b9;
}

.card.error-1 {
  --card-color: #c0392b;
  --card-alt: #2980b9;
}

.card.error-2 {
  --card-color: #e74c3c;
  --card-alt: #2980b9;
}

.card.warning-1 {
  --card-color: #d35400;
  --card-alt: #2980b9;
}

.card.warning-2 {
  --card-color: #f39c12;
  --card-alt: #2980b9;
}

.card.success-1 {
  --card-color: #27ae60;
  --card-alt: #2980b9;
}

.card.success-2 {
  --card-color: #2ecc71;
  --card-alt: #2980b9;
}