@use "variables" as *;
@use "sass:color";

/* Elements partial */
.action {
  background-color: $primary;
  color: $text;
  font-family: $font-family;
  font-size: $font-size-l;
  padding: $pad-m $pad-l;
  border-radius: $border-radius-s;

  border: none;
  cursor: pointer;
}
.action.danger {
  background-color: $danger;
}

@mixin boxShadow($color, $size: $pad-s) {
  box-shadow: inset 0 0 $size * 2 $size / 2 $color;
}

@mixin backgroundTransparent($color, $opacity: 0.8) {
  background-color: rgba(
    color.channel($color, "red", $space: rgb),
    color.channel($color, "green", $space: rgb),
    color.channel($color, "blue", $space: rgb),
    $opacity
  );
}
@mixin textShadow($color, $size: $pad-s) {
  text-shadow: 0 0 $size $color;
}

// Customization
.action {
  @include backgroundTransparent($primary-1, 0.1);
  @include textShadow($primary, 0.2em);
  @include boxShadow($primary, 0.05em);
  color: $primary;
  font-weight: 100;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}
.action.danger {
  @include backgroundTransparent($danger-1, 0.1);
  @include textShadow($danger, 0.2em);
  @include boxShadow($danger, 0.1em);
  color: $danger;
}

// Effects
.action:hover {
  @include boxShadow($primary, 0.1em);
  //   background-color: $primary-1;
}
.action:focus,
.action:active {
  @include boxShadow($primary, 0.15em);
}
.action.danger:hover {
  @include boxShadow($danger, 0.1em);
}
.action.danger:focus,
.action.danger:active {
  @include boxShadow($danger, 0.15em);
}

