@use "variables" as *;
@use "sass:color";

// CARDS
.card {
  border-radius: $border-radius-m;
  padding: $pad-l;
  //   border: 2px solid $text;
  border-width: $border-width-m;
  border-style: solid;
  overflow: hidden;

  background-color: $background-1;
}

@mixin border-gradient($color, $alt, $duration: 5s) {
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, $color, $alt);
}

@keyframes border-gradient {
  0% {
    border-image-source: linear-gradient(
      to left,
      var(--card-color),
      var(--card-alt)
    );
  }
  50% {
    border-image-source: linear-gradient(
      to left,
      var(--card-alt),
      var(--card-color)
    );
  }
  100% {
    border-image-source: linear-gradient(
      to left,
      var(--card-color),
      var(--card-alt)
    );
  }
}

@mixin animation-rotating-gradient(
  $color: $primary,
  $alt: $background,
  $duration: 5s
) {
  animation: border-gradient $duration linear infinite;
}

@each $color-name, $color-value in $colors {
  .card.#{$color-name} {
    --card-color: #{$color-value};
    --card-alt: #{$primary-1};
    @include border-gradient($color-value, $primary-1, 5s);
  }
  .card.#{$color-name}.active {
    @include animation-rotating-gradient($color-value, $highlight, 5s);
  }
}
